# Java-Kompilat
bin/
*.class

# Maven Build-Verzeichnis
target/

# IntelliJ IDEA / Eclipse / VS Code Arbeitsordner
*.iml
.idea/
.vscode/
.settings/
.metadata/
.project
.classpath

# Sonstige lokale Konfigurationen
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Git Stash Datei (falls du z. B. stash exportierst oder aufzeichnest)
stash
stash.*
